{% extends "splash_base.html" %}
{% load i18n %}

{% block page_title %}{{ form.label|default:"Registration" }}{% endblock %}

{% block title %}{{ form.label|default:"Registration" }}{% endblock %}

{% block classes %}{{ form.modal_class|default:"modal-sm" }}{% endblock %}

{% block content %}
<div class="container">
  {% if form.errors %}
  <div class="alert alert-danger">
    {% trans "Please enter a correct username and password. Note that both fields are case-sensitive." %}
  </div>
  {% endif %}
  <form action="{% url 'login' %}" method="post" class="form-signin" role="form">{% csrf_token %}
    <legend><span class="col-sm-offset-1">{% trans "The Architect" %}: {% trans 'Log in' %}</span></legend>
    {% for field in form %}
    {% include 'registration/form_field.html' %}
    {% endfor %}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">{% trans 'Log in' %}</button>
        &nbsp;<button type="reset" class="btn">{% trans 'Cancel' %}</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
