
.arc .links path {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
  stroke-opacity: 0.6;
}

.arc  .nodes circle {
  fill: #fff;
  stroke: #666;
  stroke-width: 1.5px;
}

.edge-bundle .node {
  font: 10px sans-serif;
  cursor: pointer;
}

.edge-bundle .link {
  stroke: #ddd;
  stroke-width: 1px;
  stroke-opacity: 0.6;
  fill: none;
  pointer-events: none;
}

.hive .link{
  fill: none;
  stroke: #ddd;
  stroke-width: 1px;
  stroke-opacity: 0.6;
}

.hive .axis {
  stroke: #666;
  stroke-width: 1.5px;
}

.hive .axis text {
  font-family: "Open Sans";
}

.hive .node {
  fill: #fff;
  cursor: pointer;
  stroke: #666;
  stroke-width: 1.5px;
}

.hive .node text {
  stroke-width: 0;
}

.hive .active, .hive .selected {
  stroke: #f00!important;
}

.force .node {
  fill: #fff;
  cursor: pointer;
}

.force .node circle {
  stroke: #666;
  stroke-width: 1.5px;
}

.force .node text {
  stroke-width: 0;
}

.force .active, .hive .selected {
  stroke: #f00!important;
}

.force line {
  fill: none;
  stroke: #ddd;
  stroke-width: 1px;
  stroke-opacity: 0.7;
}

.tooltip {
  position: absolute;
  padding: 5px 10px;
  font: 12px sans-serif;
  background: #fff;
  border: 1px solid #000;
  pointer-events: none;
}
