python-memcached
celery
redis
pyaml
pyyaml
jsonschema
markdown

Django
djangorestframework
django-compressor
django-jsonview
django-yamlfield
django-extensions
django-npm
django_select2
django-filter

os_client_config
python-cinderclient
python-glanceclient
python-heatclient
python-keystoneclient
python-novaclient
python-neutronclient
pykube
boto3
tosca-parser
salt-pepper
python-terraform
pydot
graphviz
juju

pytest
pytest-django
pytest-cov
