Django
django-jsonview
django-yamlfield
django-extensions
django-material
django-viewflow
viewflow-extensions
celery
redis
pyaml
pyyaml
os_client_config
python-cinderclient
python-glanceclient
python-heatclient
python-keystoneclient
python-novaclient
python-neutronclient
pykube
boto3
tosca-parser
salt-pepper
python-terraform
pydot
graphviz
juju
