{% extends TEMPLATE_BASE|default:"content_base.html" %}

{% block nav_document_cls %} navigation__sub--active{% endblock %}

{% block page_title %}
Available Visualizations
{% endblock %}

{% block title %}
Available Visualizations
{% endblock %}

{% block content %}
<table class="table bordered">
  <thead>
    <tr class="row m-0">
      <th class="d-inline-block col-3">Dashboard</th>
      <th class="d-inline-block col-7">Widgets</th>
      <th class="d-inline-block col-2 text-right">Options</th>
    </tr>
  </thead>
  <tbody>
    {% for document in document_list %}
    <tr class="row m-0">
      <th class="d-inline-block col-3" scope="row">
        <a href="{% url 'document:document_detail' document.name %}">{{ document.name }}</a>
        <span class="badge badge-{{ document.color }}">{{ document.status }}</span>
      </th>
      <td class="d-inline-block col-7">{% for widget_name, widget in document.widgets.items %}<span class="badge">{{ widget_name }} ({{ widget.chart }})</span> {% endfor %}</td>
      <td class="d-inline-block col-2 text-right">
        <a href="{% url 'document:document_detail' document.name %}" class="btn btn-sm btn-outline-primary">Details</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}