{% extends TEMPLATE_BASE|default:"content_base.html" %}

{% block nav_document_cls %} navigation__sub--active{% endblock %}

{% block page_title %}
Available visualizations
{% endblock %}

{% block title %}
Available visualizations
{% endblock %}

{% block content %}
<div class="row">
  {% for document in document_list %}
  <div class="col-sm-6 col-md-4 mb-3">
    <div class="card border-{{ document.color }}">
      <div class="card-body">
        <h4 class="card-title">{{ document.metadata.name|default:document.name }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ document.widgets|length }} widgets</h6>
        <a href="{% url 'document:document_detail' document.name %}" class="btn btn-sm btn-outline-primary">Details</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}