
.tree {

  .node circle {
    fill: $plot-node-background-color;
    stroke: $plot-node-border-color;
    stroke-width: $plot-node-border-width;
  }

  .node text {
    font-size: $plot-font-size;
    font-family: $plot-font-family;
    fill: $plot-font-color;
  }

  .node--internal text, .node text {
    text-shadow:
      0 1px 0 $plot-node-background-color,
      0 -1px 0 $plot-node-background-color,
      1px 0 0 $plot-node-background-color,
      -1px 0 0 $plot-node-background-color;
  }

  .link {
    fill: none;
    stroke: $plot-link-color;
    stroke-width: $plot-link-width;
    stroke-opacity: $plot-link-opacity;
  }

}
