
.force {

  .node {
    cursor: pointer;
  }

  .node circle {
    fill: $plot-node-background-color;
    stroke: $plot-node-border-color;
    stroke-width: $plot-node-border-width;
  }

  .node text {
    stroke-width: 0;
  }

  .active,
  .selected {
    stroke: #f00!important;
  }

  line {
    fill: none;
    stroke: $plot-link-color;
    stroke-width: $plot-link-width;
    stroke-opacity: $plot-link-opacity;
  }

}
