
<div class="card mt-3">
    <h1 class="card-header">The Architect</h1>
<div class="card-footer">
<div class="list-group border-0 card text-center text-md-left">
    {% if user.is_authenticated %}
    <a href="{% url 'inventory:inventory_list' %}" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
        <i class="fa fa-film"></i> 
        <span class="d-none d-md-inline">Inventories</span>
    </a>
    <a href="{% url 'manager:manager_list' %}" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
        <i class="fa fa-search"></i> 
        <span class="d-none d-md-inline">Managers</span>
    </a>
    <a href="{% url 'monitor:monitor_list' %}" class="list-group-item d-inline-block collapsed" data-parent="#sidebar">
        <i class="fa fa-list"></i> 
        <span class="d-none d-md-inline">Monitors</span>
    </a>
    {% endif %}
</div>
</div>

</div>


