{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Architect</title>
    {% include "_static_head.html" %}
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <main class="main">
      <div class="page-loader">
        <div class="page-loader__spinner">
          <svg viewBox="25 25 50 50">
            <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
          </svg>
        </div>
      </div>
      <aside class="sidebar">
        <div class="scrollbar-inner">
          <h4 class="mb-3 mt-2 text-center">The Architect</h4>
          {% comment %}
          <div class="user">
            {% if user.is_authenticated %}
            <div class="user__info" data-toggle="dropdown">
              <div>
                <div class="user__name">{{ user.name }}</div>
                <div class="user__email">{{ user.email }}</div>
              </div>
            </div>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">View Profile</a>
              <a class="dropdown-item" href="#">Settings</a>
              <a class="dropdown-item" href="#">Logout</a>
            </div>
            {% else %}
            <div>
              <div class="user__name">Anonymous User</div>
           </div>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Login</a>
            </div>/
            {% endif %}
          </div>
          {% endcomment %}
          {% if user.is_authenticated %}
          <ul class="navigation">
            <li class="navigation__sub{% block nav_inventory_cls %}{% endblock %}"><a href="{% url 'inventory:inventory_list' %}"><i class="fa fa-film"></i> Inventories</a></li>
            <li class="navigation__sub{% block nav_manager_cls %}{% endblock %}"><a href="{% url 'manager:manager_list' %}"><i class="fa fa-search"></i> Managers</a></li>
            <li class="navigation__sub{% block nav_monitor_cls %}{% endblock %}"><a href="{% url 'monitor:monitor_list' %}"><i class="fa fa-list"></i> Dashboards</a></li>
          </ul>
          {% endif %}
          {% block sidebar %}{% endblock %}
        </div>
      </aside>
      <section class="content">
        {% block content %}{% endblock %}
      </section>
    </main>
  {% include "_static_body.html" %}
  {% block extra_js %}{% endblock %}
  </body>
</html>
