{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Architect</title>
    {% include "_head.html" %}
    {% block extra_css %}{% endblock %}
  </head>
  <body>
<div class="container-fluid">
  <div class="row d-flex d-md-block flex-nowrap wrapper">
    <div class="col-md-3 float-left col-1 collapse width show" id="sidebar">
      {% include "_menu.html" %}
    </div>
    <main class="col-md-9 float-left col pl-0 pr-0 px-5 pl-md-2 pt-2 main">
      {% comment %}
      <a href="#" data-target="#sidebar" data-toggle="collapse">
        <i class="fa fa-navicon fa-2x py-2 p-1"></i>
      </a>
      {% endcomment %}
      {% block content %}{% endblock %}
    </main>
  </div>
</div>
{% include "_body.html" %}
{% block extra_js %}{% endblock %}
  </body>
</html>
