{% load i18n %}
<div class="modal-dialog {% block classes %}{% endblock %}" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{% block title %}{% endblock %}</h4>
      <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
        <span class="sr-only">{% trans "Close" %}</span>
      </button>
    </div>
    {% block content %}{% endblock %}
  </div>
</div>
<script>
{% block extra_js %}{% endblock %}
{% if form|default:False %}
var form_options = {
  target: '#modal-container',
  success: function(response) {}
};
$('#modal-form').ajaxForm(form_options);
$( "a.modal-close" ).on( "click", function() {
  $('#modal-container').modal('hide');
});
{% endif %}
</script>
