{% load i18n %}
<table class="table table-striped">
  <thead>
    <tr class="row m-0">
      <th class="d-inline-block col-5">{% trans "Parameter" %}</th>
      <th class="d-inline-block col-5">{% trans "Value" %}</th>
      <th class="d-inline-block col-2 text-right">Options</th>
    </tr>
  </thead>
  <tbody>
    {% for param_name, param_value in inventory.client.get_overrides.items %}
    <tr class="row m-0">
      <th class="d-inline-block col-5"s scope="row">{{ param_name }}</th>
      <td class="d-inline-block col-5">{{ param_value }}</td>
      <td class="d-inline-block col-2 text-right">
        <a href="{% url 'inventory:param_update' inventory.name param_name %}" class="open-modal btn btn-sm btn-outline-primary">{% trans "Update" %}</a>
        <a href="{% url 'inventory:param_delete' inventory.name param_name %}" class="open-modal btn btn-sm btn-outline-danger">{% trans "Delete" %}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

