{% load i18n %}
<table class="table table-striped">
  <thead>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Condition" %}</th>
    <th>{% trans "Scope" %}</th>
    <th>{% trans "Parameter" %}</th>
    <th>{% trans "Value" %}</th>
  </thead>
  <tbody>
    {% for mapping_name, mapping in inventory.cache.class_mapping.items %}
    {% if mapping.cluster_param %}
    {% for param, value in mapping.cluster_param.items %}
    <tr>
      <th scope="row">{{ mapping_name }}</th>
      <td>{{ mapping.expression }}</td>
      <td>{% trans "Cluster param" %}</td>
      <td>{{ param }}</td>
      <td>{{ value.value_template }}</td>
    </tr>
    {% endfor %}
    {% endif %}
    {% if mapping.node_param %}
    {% for param, value in mapping.node_param.items %}
    <tr>
      <th scope="row">{{ mapping_name }}</th>
      <td>{{ mapping.expression }}</td>
      <td>{% trans "Node param" %}</td>
      <td>{{ param }}</td>
      <td>{{ value.value_template }}</td>
    </tr>
    {% endfor %}
    {% endif %}
    {% if mapping.node_class %}
    {% for param, value in mapping.node_class.items %}
    {% for class in value %}
    <tr>
      <th scope="row">{{ mapping_name }}</th>
      <td>{{ mapping.expression }}</td>
      <td>{% trans "Node class" %}</td>
      <td colspan="2">class <strong>{{ class }}</strong></td>
    </tr>
    {% endfor %}
    {% endfor %}
    {% endif %}
    {% endfor %}
  </tbody>
</table>
