{% load architect i18n %}
<table class="table table-striped">
  <thead>
    <tr class="row m-0">
      <th class="d-inline-block col-3">{% trans "Node Name" %}</th>
      <th class="d-inline-block col-7">{% trans "Classes" %}</th>
      <th class="d-inline-block col-2"></th>
    </tr>
  </thead>
  <tbody>
    {% for resource in inventory.resources.all %}
    <tr class="row m-0">
      <th class="d-inline-block col-3" scope="row">
        <a href="#">{{ resource.name }}</a>
      </th>
      <td class="d-inline-block col-7">
        {% for class in resource.metadata.applications %}
        <span class="badge">{{ class }}</span>
        {% endfor %}
      </td>
      <td class="d-inline-block col-2">
        <a href="{% url 'inventory:node_update' inventory.name resource.name %}" class="open-modal btn btn-sm btn-outline-primary">{% trans "Update" %}</a>
        <a href="{% url 'inventory:resource_delete' inventory.name resource.name %}" class="open-modal btn btn-sm btn-outline-danger">{% trans "Delete" %}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
