
<table class="table table-striped">
  <thead>
    <tr>
      <th>Resource</th>
      <th>Classes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for resource in inventory.resources.all %}
    <tr>
      <th scope="row">
        <a href="#">{{ resource.name }}</a>
      </td>
      <td>
        {% for class in resource.metadata.applications %}
        <span class="badge">{{ class }}</span>
        {% endfor %}
      </td>
      <td>
        <a href="{% url 'inventory:resource_delete' inventory.name resource.name %}" class="open-modal btn btn-sm btn-outline-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
