{% extends TEMPLATE_BASE|default:"content_base.html" %}
{% load i18n %}

{% block nav_inventory_cls %} navigation__sub--active{% endblock %}

{% block page_title %}{% trans "Available inventories" %}{% endblock %}

{% block title %}{% trans "Available inventories" %}{% endblock %}

{% block actions %}
<a href="{% url 'inventory:inventory_create' %}" class="open-modal btn btn-sm btn-outline-primary">Create new</a>
<a href="{% url 'inventory:inventory_check' %}" class="btn btn-sm btn-outline-secondary">Check status</a>
{% endblock %}

{% block content %}
<div class="row">
  {% for inventory in inventory_list %}
  <div class="col-sm-6 col-md-4 mb-3 h-75">
    <div class="card border-{{ inventory.color }}">
      <div class="card-body">
        <h4 class="card-title">{{ inventory.metadata.name|default:inventory.name }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ inventory.engine }}</h6>
        <a href="{% url 'inventory:inventory_detail' inventory.name %}" class="btn btn-sm btn-outline-primary">Details</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
