{% extends TEMPLATE_BASE|default:"content_base.html" %}
{% load i18n %}

{% block nav_inventory_cls %} navigation__sub--active{% endblock %}

{% block page_title %}{% trans "Available inventories" %}{% endblock %}

{% block title %}{% trans "Available inventories" %}{% endblock %}

{% block actions %}
<a href="{% url 'inventory:inventory_create' %}" class="open-modal btn btn-sm btn-outline-primary">Create new</a>
<a href="{% url 'inventory:inventory_check' %}" class="btn btn-sm btn-outline-secondary">Check status</a>
{% endblock %}

{% block content %}
<table class="table bordered">
  <thead>
    <tr class="row m-0">
      <th class="d-inline-block col-3">Inventory</th>
      <th class="d-inline-block col-1">Engine</th>
      <th class="d-inline-block col-1 text-right">Resources</th>
      <th class="d-inline-block col-5">Details</th>
      <th class="d-inline-block col-2"></th>
    </tr>
  </thead>
  <tbody>
    {% for inventory in inventory_list %}
    <tr class="row m-0">
      <th class="d-inline-block col-3" scope="row">
        <a href="{% url 'inventory:inventory_detail' inventory.name %}">{{ inventory.name }}</a>
        <span class="badge badge-{{ inventory.color }}">{{ inventory.status }}</span>
      </th>
      <td class="d-inline-block col-1">{{ inventory.engine }}</td>
      <td class="d-inline-block col-1 text-right">{{ inventory.resources.count }}&nbsp;pcs</td>
      <td class="d-inline-block col-5">{{ inventory.conn_detail }}</td>
      <td class="d-inline-block col-2 text-right">
        <a href="{% url 'inventory:inventory_detail' inventory.name %}" class="btn btn-sm btn-outline-primary">Details</a>
        <a href="{% url 'inventory:inventory_sync' inventory.name %}" class="btn btn-sm btn-outline-secondary">Sync</a>        
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
