{% extends TEMPLATE_BASE|default:"content_base.html" %}
{% load architect %}

{% block nav_inventory_cls %} navigation__sub--active{% endblock %}

{% block page_title %}
"{{ inventory.metadata.name|default:inventory.name }}" {{ inventory.engine }} inventory
{% endblock %}

{% block title %}
"{{ inventory.metadata.name|default:inventory.name }}" {{ inventory.engine }} inventory
{% endblock %}

{% block actions %}
<a href="{% url 'inventory:inventory_delete' inventory.name %}" class="open-modal btn btn-sm btn-outline-danger">Delete</a>
<a href="{% url 'inventory:inventory_list' %}" class="btn btn-sm btn-outline-primary">Inventories</a>
{% if inventory.engine == 'salt-formulas' %}
<a href="{% url 'inventory:inventory_list' %}" class="btn btn-sm btn-outline-primary">Inventories</a>
{% endif %}
{% endblock %}

{% block sidebar %}
<ul class="list-group list-group-flush">
  <li class="list-group-item">Engine
    <span class="badge">{{ inventory.engine }}</span>
  </li>
  <li class="list-group-item">Status
    <span class="badge badge-{{ inventory.color }}">{{ inventory.status }}</span>
  </li>
{% if inventory.engine == 'reclass' %}
  <li class="list-group-item">Nodes
    <span class="badge badge-info">{{ inventory.resources.all|length }} nodes</span>
  </li>
  <li class="list-group-item">Class directory
    <span class="badge">{{ inventory.metadata.class_dir }}</span>
  </li>
  <li class="list-group-item">Node directory
    <span class="badge">{{ inventory.metadata.node_dir }}</span>
  </li>
{% elif inventory.engine == 'salt-formulas' %}
  <li class="list-group-item">Nodes
    <span class="badge badge-info">{{ inventory.resources.all|length }} nodes</span>
  </li>
  {% comment %}
  <li class="list-group-item">Classes
    <span class="badge badge-info">{{ inventory.client.raw_class_list|length }} classes</span>
  </li>
  <li class="list-group-item">Formulas
    <span class="badge badge-info">{{ inventory.client.formula_list|length }} formulas</span>
  </li>
  {% endcomment %}
{% elif inventory.engine == 'architect' %}
  <li class="list-group-item">Storage type
    <span class="badge">{{ inventory.metadata.storage_type }}</span>
  </li>
{% endif %}
</ul>
{% endblock %}

{% block content %}
{% if inventory.engine == 'salt-formulas' %}
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Inventory overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#node" role="tab">Node definitions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#cluster" role="tab">Cluster definitions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#system" role="tab">System models</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#service" role="tab">Service models</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="overview" role="tabpanel">
    {% include "inventory/_salt_formulas_overview.html" %}
  </div>
  <div class="tab-pane" id="service" role="tabpanel">
  </div>
  <div class="tab-pane" id="system" role="tabpanel">
  </div>
  <div class="tab-pane" id="cluster" role="tabpanel">
  </div>
  <div class="tab-pane" id="node" role="tabpanel">
    {% include "inventory/_salt_formulas_node.html" %}
  </div>
</div>
{% elif inventory.engine == 'reclass' %}
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#node" role="tab">Nodes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#class" role="tab">Classes</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="node" role="tabpanel">
    <table class="table bordered">
      <thead>
        <th>Node</th>
        <th>Classes</th>
        <th>Parameters</th>
      </thead>
      <tbody>
        {% for resource in inventory.resources.all %}
        <tr>
          <th scope="row">
            <a href="#">{{ resource.name }}</a>
          </td>
          <td>
            <pre class="text-light"><code>{{ resource.metadata.classes|to_yaml }}</code></pre>
          </td>
          <td>
            <pre class="text-light"><code>{{ resource.metadata.parameters|to_yaml }}</code></pre>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="class" role="tabpanel">
  </div>
</div>
{% else %}
<table class="table bordered">
  <thead>
    <th>Resource</th>
    <th>Classes</th>
  </thead>
  <tbody>
    {% for resource_name, resource in resource_list.items %}
    <tr>
      <th scope="row">
        <a href="#">{{ resource_name }}</a>
      </td>
      <td>
        {% for class in resource %}
        {{ class }}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}