{% extends 'base.html' %}

{% block nav_inventory_cls %} navigation__sub--active{% endblock %}

{% block content %}
<header class="content__title">
  <h1>Available inventories</h1>
</header>
<div class="row">
  {% for inventory in inventory_list %}
  <div class="col-sm-6 col-md-4 mb-3 h-75">
    <div class="card border-{{ inventory.color }}">
      <div class="card-body">
        <h4 class="card-title">{{ inventory.name }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ inventory.engine }}, {{ inventory.resource_count }} resources</h6>
        <a href="{% url 'inventory:inventory_detail' inventory.name %}" class="card-link">Details</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}