{% extends TEMPLATE_BASE|default:"content_base.html" %}
{% load i18n %}

{% block nav_manager_cls %} navigation__sub--active{% endblock %}

{% block page_title %}{% trans "Import config" %}{% endblock %}

{% block title %}{% trans "Action success" %}{% endblock %}

{% block classes %}modal-sm{% endblock %}

{% block content %}
<form>
{{ form }}
<button type="submit" class="btn-primary">Import</button>
</form>
{% endblock %}

{% block extra_js %}
{% if XHR_REQUEST|default:False %}
$('#modal-container').modal('hide');
{% endif %}
{% endblock %}
