{% extends TEMPLATE_BASE|default:"content_base.html" %}

{% block nav_manager_cls %} navigation__sub--active{% endblock %}

{% block title %}
Available Managers
{% endblock %}

{% block content %}
<div class="row">
  {% for manager in manager_list %}
  <div class="col-sm-6 col-md-4 mb-3 h-75">
    <div class="card border-{{ manager.color }}">
      <div class="card-body">
        <h4 class="card-title">{{ manager.metadata.name|default:manager.name }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ manager.engine }}</h6>
        <p style="display: none;">
          {% for kind_name, kind_query in manager.resources_by_kind.items %}
          {% if kind_query.count > 0 %}
          {{ kind_name }}: {{ kind_query.count }}<br>
          {% endif %}
          {% endfor %}
        </p>
        <a href="{% url 'manager:manager_detail' manager.name %}" class="btn btn-outline-primary">Details</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}