{% extends TEMPLATE_BASE|default:"content_base.html" %}

{% block nav_manager_cls %} navigation__sub--active{% endblock %}

{% block page_title %}Available managers{% endblock %}

{% block title %}Available managers{% endblock %}

{% block actions %}
<a href="{% url 'manager:manager_check' %}" class="btn btn-sm btn-outline-secondary">Check status</a>
{% endblock %}

{% block content %}
<div class="row">
  {% for manager in manager_list %}
  <div class="col-sm-6 col-md-4 mb-3 h-75">
    <div class="card border-{{ manager.color }}">
      <div class="card-body">
        <h4 class="card-title"> {{ manager.metadata.name|default:manager.name }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ manager.engine }}, {{ manager.resources.count }} resources</h6>
        <h6 class="card-subtitle mb-2">{{ manager.conn_detail }}</h6>
        <a href="{% url 'manager:manager_detail' manager.name %}" class="btn btn-sm btn-outline-primary">Details</a>
        <a href="{% url 'manager:manager_sync' manager.name %}" class="btn btn-sm btn-outline-secondary">Synchronise</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}