{% extends TEMPLATE_BASE|default:"content_base.html" %}

{% block nav_manager_cls %} navigation__sub--active{% endblock %}

{% block page_title %}Available managers{% endblock %}

{% block title %}Available managers{% endblock %}

{% block actions %}
<a href="{% url 'manager:manager_check' %}" class="btn btn-sm btn-outline-secondary">Check status</a>
<a href="{% url 'manager:import_kube_conf' %}" class="btn btn-sm btn-outline-secondary">Import config</a>
{% endblock %}

{% block content %}
<table class="table bordered">
  <thead>
    <tr class="row m-0">
      <th class="d-inline-block col-3">Manager</th>
      <th class="d-inline-block col-1">Engine</th>
      <th class="d-inline-block col-1 text-right">Resources</th>
      <th class="d-inline-block col-5">Details</th>
      <th class="d-inline-block col-2"></th>
    </tr>
  </thead>
  <tbody>
   {% for manager in manager_list %}
    <tr class="row m-0">
      <th class="d-inline-block col-3" scope="row">
        <a href="{% url 'manager:manager_detail' manager.name %}">{{ manager.name }}</a>
        <span class="badge badge-{{ manager.color }}">{{ manager.status }}</span>
      </th>
      <td class="d-inline-block col-1">{{ manager.engine }}</td>
      <td class="d-inline-block col-1 text-right">{{ manager.resources.count }}&nbsp;pcs</td>
      <td class="d-inline-block col-5">{{ manager.conn_detail }}</td>
      <td class="d-inline-block col-2 text-right">
        <a href="{% url 'manager:manager_detail' manager.name %}" class="btn btn-sm btn-outline-primary">Details</a>
        <a href="{% url 'manager:manager_sync' manager.name %}" class="btn btn-sm btn-outline-secondary">Sync</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
