{% extends TEMPLATE_BASE|default:"content_base.html" %}
{% load i18n %}

{% block nav_manager_cls %} navigation__sub--active{% endblock %}

{% block page_title %}{% trans "Manager" %} "{{ manager.name }}"{% endblock %}

{% block title %}{% trans "Manager" %} "{{ manager.name }}"{% endblock %}

{% block actions %}
<a href="{% url 'manager:manager_sync' manager.name %}" class="open-modal btn btn-sm btn-outline-primary">Synchronise</a>
<a href="{% url 'manager:manager_list' %}" class="btn btn-sm btn-outline-secondary">{% trans "Manager list" %}</a>
<a href="{% url 'manager:manager_delete' manager.name %}" class="open-modal btn btn-sm btn-outline-danger">Delete</a>
{% endblock %}

{% block sidebar %}
<ul class="list-group list-group-flush">
  <li class="list-group-item">{% trans "Engine" %}
    <span class="badge">{{ manager.engine }}</span>
  </li>
  <li class="list-group-item">{% trans "Status" %}
    <span class="badge badge-{{ manager.color }}">{{ manager.status }}</span>
  </li>
  {% if manager.engine == 'terraform' %}
  <li class="list-group-item">{% trans "Path" %}
    <span class="badge">{{ manager.metadata.template_path }}</span>
  </li>
  {% endif %}
  {% if manager.engine == 'kubernetes' %}
  <li class="list-group-item">{% trans "Scope" %}
    <span class="badge">{{ manager.metadata.scope }}</span>
  </li>
  {% endif %}

</ul>
{% endblock %}

{% block content %}
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#properties" role="tab">{% trans "Resources" %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#metadata" role="tab">{% trans "Visualizations" %}</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="properties" role="tabpanel">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Kind" %}</th>
          <th class="text-right">{% trans "Relations" %}</th>
          <th class="text-right">Options</th>
        </tr>
      </thead>
      <tbody>
        {% for resource in resource_list %}
        <tr>
          <th scope="row">
            <a href="{% url 'manager:resource_detail' manager.name resource.id %}">{{ resource.name }}</a>
            <span class="badge badge-{{ resource.color }}">{{ resource.status }}</span>
          </th>
          <td>{{ resource.kind }}</td>
          <td style="text-align:right;">{{ resource.relations.count }}</td>
          <td align="right">
            <a href="{% url 'manager:resource_detail' manager.name resource.id %}" class="btn btn-sm btn-outline-primary">{% trans "Details" %}</a>
            {% for action, workflow in workflow_options.items %}
            <a href="{% url 'manager:resource_action' manager.name resource.uid action %}" class="open-modal btn btn-sm btn-outline-primary">{{ workflow.name }}</a>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="metadata" role="tabpanel">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans "Dataset" %}</th>
          <th>{% trans "Layout" %}</th>
          <th style="text-align:right;">{% trans "Visualization" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for query_name, query in query_list.items %}
        <tr>
          <th scope="row">
            <strong>{{ query.name }}</strong>
          </th>
          <td>{{ query.layout }}</td>
          <td align="right">
            {% if query.layout == "graph" %}
            {% for viz_name, viz in viz_list.graph.items %}
            <a href="{% url 'manager:manager_graph' manager.name viz_name query_name %}" class="btn btn-sm btn-outline-primary">{{ viz }}</a>
            {% endfor %}
            {% endif %}
            {% if query.layout == "hierarchy" %}
            {% for viz_name, viz in viz_list.hierarchy.items %}
            <a href="{% url 'manager:manager_graph' manager.name viz_name query_name %}" class="btn btn-sm btn-outline-primary">{{ viz }}</a>
            {% endfor %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}