{% extends 'base.html' %}

{% block nav_manager_cls %}class="active"{% endblock %}

{% block content %}
<h2 class="center">Manager {{ manager.name }}</h2>
<div class="row">
  <div class="col s12 m12 l8 offset-l2">
    <table id="table" class="table bordered">
      <thead>
        <th>Host</th>
        <th>Classification</th>
        <th class="center-align">Status</th>
      </thead>
      <tbody>
        {% for manager in manager_list %}
        <tr>
          <td>
            <a href="{% url 'manager:manager_detail' manager.name %}">{{ manager.name }}</a>
          </td>
          <td>{{ manager.nodes }}</td>
          <td class="center-align">
            {% if manager.status == 'OK' %}
            <i class="material-icons">check_box</a>
            {% else %}
            <i class="material-icons">report_problem</i>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}