{% extends 'base.html' %}

{% block nav_manager_cls %}class="active"{% endblock %}

{% block content %}
<h2 class="center">Manager {{ manager.name }}</h2>
<div class="row">
  <div class="col s12 m12 l8 offset-l2">
    <table id="table" class="table bordered">
      <thead>
        <th>Resource</th>
        <th class="center-align">Status</th>
      </thead>
      <tbody>
        {% for resource in resource_list %}
        <tr>
          <td>
            <a href="{% url 'manager:resource_detail' manager.name resource.name %}">{{ resource.name }}</a>
          </td>
          <td class="center-align">{{ resource.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}