{% extends TEMPLATE_BASE|default:"content_base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
Resource action
{% endblock %}

{% block title %}
Resource action
{% endblock %}

{% block classes %}modal-lg{% endblock %}

{% block content %}
{% crispy form form.helper %}
{% endblock %}

{% block extra_js %}
{% if XHR_REQUEST|default:False %}
<script>
var form_options = {
  target: '#modal-container',
  success: function(response) {}
};
$('#resource-action').ajaxForm(form_options);
</script>
{% endif %}
{% endblock %}
