{% extends TEMPLATE_BASE|default:"content_base.html" %}

{% block nav_manager_cls %} navigation__sub--active{% endblock %}

{% block page_title %}
Resource {{ resource.name }}
{% endblock %}

{% block title %}
Resource {{ resource.name }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12 m12 l8 offset-l2">
    <h4 class="center">Parameters</h4>
    <ul class="collection">
      <li class="collection-item"><div>Resource name<div class="secondary-content">{{ resource.name }}</div></div></li>
      <li class="collection-item"><div>OS finger<div class="secondary-content">{{ resource.metadata.osfinger }}</div></div></li>
    </ul>
    <h4 class="center">Services</h4>
    <table id="table" class="table bordered">
      <thead>
        <tr>
          <th>Service</th>
          <th class="center-align">Resources</th>
          <th class="center-align">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for service_name, service in service_list.items %}
        <tr>
          <td></td>
          <td class="center-align"></td>
          <td class="center-align"></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}