{% extends TEMPLATE_BASE|default:"content_base.html" %}
{% load architect %}

{% block nav_manager_cls %} navigation__sub--active{% endblock %}

{% block page_title %}Resource {{ resource.name }}{% endblock %}

{% block title %}Resource {{ resource.name }}{% endblock %}

{% block actions %}
<a href="{% url 'manager:manager_detail' manager.name %}" class="btn btn-sm btn-outline-primary">Manager {{ manager.name }}</a>
{% endblock %}

{% block sidebar %}
<ul class="list-group list-group-flush">
  <li class="list-group-item">Resource name
    <span class="badge">{{ resource.name }}</span>
  </li>
  <li class="list-group-item">OS finger
    <span class="badge badge-{{ inventory.color }}">{{ resource.metadata.osfinger }}</span>
  </li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col col-sm-12">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Resource metadata</h3>
        <pre class="text-light"><code>{{ resource.metadata|to_yaml }}</code></pre>
      </div>
    </div>
  </div>
</div>
{% endblock %}
