{% extends 'base.html' %}

{% block nav_manager_cls %}class="active"{% endblock %}

{% block content %}
<h2 class="center">Service {{ service.name }}</h2>
<div class="row">
  <div class="col s12 m12 l8 offset-l2">
    <h4 class="center">Low states</h4>
    <table id="table" class="table bordered">
      <thead>
        <tr>
          <th>State</th>
          <th>Last output</th>
          <th class="center-align">Status</th>
        </tr>
      </thead>
      <tbody>
        {% for lowstate in lowstate_list %}
        <tr>
          <th>{{ lowstate.name }}</th>
          <td>
          {% for last_apply in lowstate.metadata.apply|slice:"-1:" %}
          {{ last_apply.comment }}
          {% endfor %}
          </td>
          <td class="center-align">{{ lowstate.status }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}