.tooltip {
  position: absolute;
  padding: 5px 10px;
  font: 12px sans-serif;
  font-color: $body-color;
  background: $body-bg;
  pointer-events: none;
}

.list-group-item {
  background-color: transparent;
}

.list-tree-item {
  @extend .list-group-item;
  padding: 0;
}

.list-tree-level0 {
  @extend .list-tree-item;
  padding-left: 0;
}

.list-tree-level1 {
  @extend .list-tree-item;
  padding-left: 1rem;
}

.list-tree-level2 {
  @extend .list-tree-item;
  padding-left: 2rem;
}

.content .card-widget {

  .card-title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    text-shadow:
      0 1px 0 $body-bg,
      0 -1px 0 $body-bg,
      1px 0 0 $body-bg,
      -1px 0 0 $body-bg;
  }

  .card-actions {
    margin-bottom: 0;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .card-actions li {
    float: right;
    padding-left: 0.3rem;
  }

  .card-body {
    position: relative;
  }

  .card-fullscreen {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 96%;
    height: 96%;
    top: 2%;
    right: 0;
    left: 2%;
    bottom: 0;
    overflow: auto;
    background-color: $body-bg!important;
    svg{
      height: 85vh;
    }
  }

  .card-fullscreen .card-body {
    background-color: $body-bg!important;
  }

}

.content .card {

  background-color: transparent;
  border-width: 2px;

  .card-title {
    font-size: 1.1rem;
    color: $primary;
  }

}

.modal-title {
  font-size: 1.1rem;
}

.modal-content legend {
  font-size: 1.1rem;
}

.btn {
  text-transform: uppercase;
}
