
@import '../../bootswatch/dist/superhero/variables';

@import '../../bootstrap/scss/functions';
@import '../../bootstrap/scss/variables';
@import '../../bootstrap/scss/mixins';
@import '../../bootstrap/scss/root';
@import '../../bootstrap/scss/reboot';
@import '../../bootstrap/scss/type';
@import '../../bootstrap/scss/images';
@import '../../bootstrap/scss/code';
@import '../../bootstrap/scss/grid';
@import '../../bootstrap/scss/tables';
@import '../../bootstrap/scss/forms';
@import '../../bootstrap/scss/buttons';
@import '../../bootstrap/scss/transitions';
@import '../../bootstrap/scss/dropdown';
@import '../../bootstrap/scss/button-group';
@import '../../bootstrap/scss/input-group';
@import '../../bootstrap/scss/custom-forms';
@import '../../bootstrap/scss/nav';
@import '../../bootstrap/scss/navbar';
@import '../../bootstrap/scss/card';
@import '../../bootstrap/scss/breadcrumb';
@import '../../bootstrap/scss/pagination';
@import '../../bootstrap/scss/badge';
@import '../../bootstrap/scss/jumbotron';
@import '../../bootstrap/scss/alert';
@import '../../bootstrap/scss/progress';
@import '../../bootstrap/scss/media';
@import '../../bootstrap/scss/list-group';
@import '../../bootstrap/scss/close';
@import '../../bootstrap/scss/modal';
@import '../../bootstrap/scss/tooltip';
@import '../../bootstrap/scss/popover';
@import '../../bootstrap/scss/carousel';
@import '../../bootstrap/scss/utilities';
@import '../../bootstrap/scss/print';

@import '../../font-awesome/scss/variables';
@import '../../font-awesome/scss/mixins';
@import '../../font-awesome/scss/path';
@import '../../font-awesome/scss/core';
@import '../../font-awesome/scss/larger';
@import '../../font-awesome/scss/fixed-width';
@import '../../font-awesome/scss/list';
@import '../../font-awesome/scss/bordered-pulled';
@import '../../font-awesome/scss/animated';
@import '../../font-awesome/scss/rotated-flipped';
@import '../../font-awesome/scss/stacked';
@import '../../font-awesome/scss/icons';
@import '../../font-awesome/scss/screen-reader';

@import '../../architect/scss/variables';
@import '../../architect/scss/page-loader';
@import '../../architect/scss/layout';
@import '../../architect/scss/sidebar';

@import '../../architect-monitor/scss/variables';
@import '../../architect-monitor/scss/plot-arc';
@import '../../architect-monitor/scss/plot-circle-pack';
@import '../../architect-monitor/scss/plot-edge-bundle';
@import '../../architect-monitor/scss/plot-force-directed';
@import '../../architect-monitor/scss/plot-hive';
@import '../../architect-monitor/scss/plot-matrix';
@import '../../architect-monitor/scss/plot-sunburst';
@import '../../architect-monitor/scss/plot-tree-node-link';

@import '../../bootswatch/dist/superhero/bootswatch';

.tooltip {
  position: absolute;
  padding: 5px 10px;
  font: 12px sans-serif;
  background: #fff;
  border: 1px solid #000;
  pointer-events: none;
}


h4.card-title {
    font-size: 1rem;
}