
.edge-bundle {

  .node {
    font-family: $plot-font-family;
    font-size: $plot-font-size;
    cursor: pointer;
  }

  .link {
    fill: none;
    stroke: $plot-link-color;
    stroke-width: $plot-link-width;
    stroke-opacity: $plot-link-opacity;
    pointer-events: none;
  }

}
