.bb svg {
  font: 10px sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.bb path, .bb line {
  fill: none;
  stroke: $body-color;
}

.bb text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.bb-legend-item-tile,
.bb-xgrid-focus,
.bb-ygrid,
.bb-event-rect,
.bb-bars path {
  shape-rendering: crispEdges;
}

.bb-chart-arc {

  path {
    stroke: #fff;
  }

  text {
    fill: #fff;
    font-size: 13px;
  }
}

.bb-grid line {
  stroke: #aaa;
}

.bb-grid text {
  fill: #aaa;
}

.bb-xgrid, .bb-ygrid {
  stroke-dasharray: 3 3;
}

.bb-text.bb-empty {
  fill: #808080;
  font-size: 2em;
}

.bb-line {
  stroke-width: 1px;
}

.bb-circle._expanded_ {
  stroke-width: 1px;
  stroke: white;
}

.bb-selected-circle {
  fill: white;
  stroke-width: 2px;
}

.bb-bar {
  stroke-width: 0;
}

.bb-bar._expanded_ {
    fill-opacity: 0.75;
}

.bb-target.bb-focused {
  opacity: 1;

  path.bb-line, path.bb-step {
    stroke-width: 2px;
  }

}

.bb-target.bb-defocused {
  opacity: 0.3 !important;
}

.bb-region {
  fill: steelblue;
  fill-opacity: .1;
}

.bb-brush .extent {
  fill-opacity: .1;
}

.bb-legend-item {
  font-size: 12px;

  text {
    fill: $body-color;
  }

}

.bb-legend-item-hidden {
  opacity: 0.15;
}

.bb-legend-background {
  opacity: 0.75;
  fill: white;
  stroke: lightgray;
  stroke-width: 1;
}

.bb-title {
  font: 14px sans-serif; }

.bb-tooltip-container {
  z-index: 10;
}

.bb-tooltip {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: $body-bg;
  empty-cells: show;
  opacity: 0.9;
  -webkit-box-shadow: 7px 7px 12px -9px #777777;
  -moz-box-shadow: 7px 7px 12px -9px #777777;
  box-shadow: 7px 7px 12px -9px #777777;

  tr {
    border: 1px solid #CCC;
  }
  
  th {
    background-color: #aaa;
    font-size: 14px;
    padding: 2px 5px;
    text-align: left;
    color: $body-color;
  }
  
  td {
    font-size: 13px;
    color: $body-color;
    padding: 3px 6px;
    background-color: $body-bg;
    border-left: 1px dotted #999;
  }
  .bb-tooltip td > span, .bb-tooltip td > svg {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 6px;
  }

  .bb-tooltip td.value {
    text-align: right;
  }

}

.bb-axis {

  text {
    fill: $body-color;
  }

}

.bb-area {
  stroke-width: 0;
  opacity: 0.2;
}

.bb-chart-arcs-title {
  fill: $body-color;
  font-size: 1.3em;
}

.bb-chart-arcs {

  .bb-chart-arcs-background {
    fill: #e0e0e0;
    stroke: none;
  }

  .bb-chart-arcs-gauge-unit {
    fill: $body-color;
    font-size: 16px;
  }

  .bb-chart-arcs-gauge-max {
    fill: #777;
  }

  .bb-chart-arcs-gauge-min {
    fill: #777;
  }

  .bb-gauge-value {
    fill: $body-color;
  }

}
