
.hive {

  .link {
    fill: none;
    stroke: $plot-link-color;
    stroke-width: $plot-link-width;
    stroke-opacity: $plot-link-opacity;
  }

  .axis {
    stroke: $plot-axis-color;
    stroke-width: 1.5px;
  }

  .axis-label {
    font-family: $plot-axis-family;
    font-size: $plot-axis-size;
    fill: $plot-axis-color;
  }

  .node {
    cursor: pointer;
    fill: $plot-node-background-color;
    stroke: $plot-node-border-color;
    stroke-width: $plot-node-border-width;
  }

  .node text {
    stroke-width: 0;
  }

  .active,
  .selected {
    stroke: #f00!important;
  }

}
