
.sunburst {

  .slice {
    cursor: pointer;
  }

  .slice .main-arc {
    stroke: transparent;
    stroke-width: 0.4px;
  }

  .slice .hidden-arc {
    fill: none;
  }

  .slice text {
    font-size: $plot-font-size;
    pointer-events: none;
    dominant-baseline: middle;
    text-anchor: middle;
  }

}
