
.arc {

  .links path {
    fill: none;
    stroke: $plot-link-color;
    stroke-width: $plot-link-width;
    stroke-opacity: $plot-link-opacity;
  }

  .nodes circle {
    fill: $plot-node-background-color;
    stroke: $plot-node-border-color;
    stroke-width: $plot-node-border-width;
  }

}
