
$plot-font-family: $font-family-sans-serif;
$plot-font-size: $font-size-sm;
$plot-font-color: $body-color;
$plot-background-color: $body-bg;

$plot-axis-family: $font-family-sans-serif;
$plot-axis-size: $font-size-sm;
$plot-axis-color: $body-color;

$plot-node-border-width: 2;
$plot-node-border-color: $primary;
$plot-node-background-color: $body-bg;

$plot-link-width: 1;
$plot-link-color: $body-color;
$plot-link-opacity: 0.6;