{% extends 'base.html' %}

{% block nav_monitor_cls %} navigation__sub--active{% endblock %}

{% block content %}
<header class="content__title">
  <h1>Available Dashboards</h1>
</header>
<div class="row">
  {% for monitor in monitor_list %}
  <div class="col-sm-6 col-md-4 mb-3">
    <div class="card border-{{ monitor.color }}">
      <div class="card-body">
        <h4 class="card-title">{{ monitor.metadata.name|default:monitor.name }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ monitor.widgets|length }} widgets</h6>
        <a href="{% url 'monitor:monitor_detail' monitor.name %}" class="card-link">Details</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}