{% extends 'base.html' %}

{% block nav_monitor_cls %}class="active"{% endblock %}

{% block content %}
<div class="card text-white bg-dark mt-3">
  <div class="card-body">
    <h4 class="card-title">Available Monitors</h4>
    <table id="table" class="table bordered">
      <thead>
        <th>Monitor</th>
        <th class="center-align">Widgets</th>
        <th class="center-align">Status</th>
      </thead>
      <tbody>
        {% for monitor in monitor_list %}
        <tr>
          <td>
            <a href="{% url 'monitor:monitor_detail' monitor.name %}">{{ monitor.name }}</a>
          </td>
          <td class="center-align">{{ monitor.widgets|length }}</td>
          <td class="center-align">
            {% if monitor.status == 'active' %}
            <i class="material-icons">check_box</a>
            {% else %}
            <i class="material-icons">report_problem</i>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}