{% extends TEMPLATE_BASE|default:"content_base.html" %}
{% load i18n %}

{% block nav_monitor_cls %} navigation__sub--active{% endblock %}

{% block page_title %}{% trans "Available monitors" %}{% endblock %}

{% block title %}{% trans "Available monitors" %}{% endblock %}

{% block content %}
<table class="table bordered">
  <thead>
    <tr class="row m-0">
      <th class="d-inline-block col-3">Monitor</th>
      <th class="d-inline-block col-1">Engine</th>
      <th class="d-inline-block col-1 text-right">Metrics</th>
      <th class="d-inline-block col-5">Details</th>
      <th class="d-inline-block col-2"></th>
    </tr>
  </thead>
  <tbody>
    {% for monitor in monitor_list %}
    <tr class="row m-0">
      <th class="d-inline-block col-3" scope="row">
        <a href="{% url 'monitor:monitor_detail' monitor.name %}">{{ monitor.name }}</a>
        <span class="badge badge-{{ monitor.color }}">{{ monitor.status }}</span>
      </th>
      <td class="d-inline-block col-1">{{ monitor.engine }}</td>
      <td class="d-inline-block col-1 text-right">{{ monitor.resources.count }}&nbsp;pcs</td>
      <td class="d-inline-block col-5">{{ monitor.conn_detail }}</td>
      <td class="d-inline-block col-2 text-right">
        <a href="{% url 'monitor:monitor_detail' monitor.name %}" class="btn btn-sm btn-outline-primary">Details</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}