{% extends TEMPLATE_BASE|default:"content_base.html" %}

{% load static compress %}

{% block nav_monitor_cls %} navigation__sub--active{% endblock %}

{% block page_title %}
"{{ monitor.metadata.name|default:monitor.name }}" {{ monitor.engine }} monitor
{% endblock %}

{% block title %}
"{{ monitor.metadata.name|default:monitor.name }}" {{ monitor.engine }} monitor
{% endblock %}

{% block actions %}
<a href="{% url 'monitor:monitor_list' %}" class="btn btn-sm btn-outline-primary">List</a>
{% endblock %}

{% block content %}
<div class="row">
  <table class="table bordered">
    <thead>
      <tr class="row m-0">
        <th class="d-inline-block col-6">Series</th>
        <th class="d-inline-block col-6">Properties</th>
      </tr>
    </thead>
    <tbody>
      {% for series_name, series in monitor.client.get_series.items %}
      <tr class="row m-0">
        <th class="d-inline-block col-6" scope="row">
          <a href="#">{{ series_name }}</a>
        </th>
        <td class="d-inline-block col-6">
          {{ series }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
</div>
{% endblock %}

{% block sidebar %}
<ul class="list-group mb-3">
  <li class="list-group-item">Resources<span class="badge" id="plotResources">N/A</span></li>
  <li class="list-group-item">Relations<span class="badge" id="plotRelations">N/A</span></li>
</ul>
<div class="card">
  <div id="resource-detail" class="card-body">
    <div>No resource selected.</div>
  </div>
<div>
{% endblock %}
