{% extends 'base.html' %}
{% load static %}

{% block nav_monitor_cls %}class="active"{% endblock %}

{% block content %}
<div class="row">
  {% for widget_name, widget in monitor.widgets.items %}
  <div class="col {{ widget.width }}">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ widget.name|default:widget_name }}</span>
        <div class="{{ widget.chart }}" id="chart-{{ widget_name }}" style="height:400px;"></div>
      </div>

    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block extra_css %}
<link href="{% static 'architect/css/layout.css' %}" rel="stylesheet">
<link href="{% static 'architect/css/font-awesome.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{% static 'architect/js/d3.layout.hive.js' %}"></script>
<script src="{% static 'architect/js/d3.layout.matrix.js' %}"></script>
<script src="{% static 'architect/js/d3.utils.js' %}"></script>
<script src="{% static 'architect/js/d3.plot.arc.js' %}"></script>
<script src="{% static 'architect/js/d3.plot.bundle.js' %}"></script>
<script src="{% static 'architect/js/d3.plot.force.js' %}"></script>
<script src="{% static 'architect/js/d3.plot.hive.js' %}"></script>
<script src="{% static 'architect/js/d3.plot.matrix.js' %}"></script>
<script src="{% static 'architect/js/d3.plot.treemap.js' %}"></script>
<script src="{% static 'architect/js/jquery.timeago.js' %}"></script>
<script>
document.addEventListener("DOMContentLoaded", function(event) {
  console.log('Page DOM loaded.');

  /*
  var changeDetailBox = function (node) {
    var detailBoxTemplate = '<ul class="collection">' +
     '<li class="collection-item">Name<span class="badge">{name}</span></li>' +
     '<li class="collection-item">Kind<span class="badge">{kind}</span></li>' +
     '</ul>';
    $('#resource-detail').html(detailBoxTemplate.formatTemplate({
      name: node.name,
      kind: node.kind
    }));
  };
  */

  var src = {};
  var sel = {};

  {% for widget_name, widget in monitor.widgets.items %}
  src['{{ widget_name }}'] = "/monitor/v1/{{ monitor.name }}/{{ widget_name }}/data.json";
  sel['{{ widget_name }}'] = "#chart-{{ widget_name }}";
  {% endfor %}
  {% for widget_name, widget in monitor.widgets.items %}
  {% if widget.chart == 'hive' %}
  d3.json(src['{{ widget_name }}'], function(data) {
    HivePlot.init(sel['{{ widget_name }}'], data, {selector: sel['{{ widget_name }}']});
  });
  {% elif widget.chart == 'arc' %}
  new RelationalPlot.arc(src['{{ widget_name }}'], sel['{{ widget_name }}'], 3600).init();
  {% elif widget.chart == 'force' %}
  new RelationalPlot.forceDirected(src['{{ widget_name }}'], sel['{{ widget_name }}'], 3600).init();
  {% elif widget.chart == 'matrix' %}
  new RelationalPlot.adjacencyMatrix(src['{{ widget_name }}'], sel['{{ widget_name }}'], 3600).init();
  {% elif widget.chart == 'edge-bundle' %}
  new RelationalPlot.hierarchicalEdgeBundling(src['{{ widget_name }}'], sel['{{ widget_name }}'], 3600).init();
  {% elif widget.chart == 'treemap' %}
  new RelationalPlot.treeMap(src['{{ widget_name }}'], sel['{{ widget_name }}'], 3600).init();
  {% endif %}{% endfor %}

});

</script>
{% endblock %}
