
.matrix {

  .am-axis path {
    stroke: $plot-axis-color;
  }

  .am-axis line {
    stroke: $plot-axis-color;
  }

  .am-axis text {
    fill: $plot-axis-color;
  }

  rect {
    stroke: $plot-axis-color;
    stroke-width: 1px;
    stroke-opacity: 0.1;
  }

}
