
.force {

  .node {
    fill: #fff;
    cursor: pointer;
  }

  .node circle {
    stroke: #666;
    stroke-width: 1.5px;
  }

  .node text {
    stroke-width: 0;
  }

  .active,
  .selected {
    stroke: #f00!important;
  }

  line {
    fill: none;
    stroke: #ddd;
    stroke-width: 1px;
    stroke-opacity: 0.7;
  }

}
