
.sunburst {

  .slice {
    cursor: pointer;
  }

  .slice .main-arc {
    stroke: #fff;
    stroke-width: 1px;
  }

  .slice .hidden-arc {
    fill: none;
  }

  .slice text {
    pointer-events: none;
    dominant-baseline: middle;
    text-anchor: middle;
  }

}
