
.circle-pack {

  .node {
    cursor: pointer;
    stroke: $plot-node-border-color;
    stroke-width: $plot-node-border-width;
  }

  .node:hover {
  /*   stroke: #000;
    stroke-width: 0.5px; */
    opacity: 0.3;
  }

  .node--leaf {
    fill: $plot-node-background-color;
  }

  .label {
    text-anchor: middle;
    font-size: $plot-font-size;
    font-family: $plot-font-family;
    fill: $plot-font-color;
  }

  .label,
  .node--root,
  .node--leaf {
    pointer-events: none;
  }

}
