{% extends TEMPLATE_BASE|default:"content_base.html" %}

{% load static compress i18n %}

{% block nav_repository_cls %} navigation__sub--active{% endblock %}

{% block page_title %}
{{ repository.engine }} repository "{{ repository.name }}"
{% endblock %}

{% block title %}
{{ repository.engine }} repository "{{ repository.name }}"
{% endblock %}

{% block actions %}
<a href="{% url 'repository:image_create' repository.name %}" class="open-modal btn btn-sm btn-outline-primary">{% trans "Build new image" %}</a>
<a href="{% url 'repository:repository_list' %}" class="btn btn-sm btn-outline-secondary">Repository list</a>
{% endblock %}

{% block content %}
<div class="row">
  <table class="table bordered">
    <thead>
      <tr class="row m-0">
        <th class="d-inline-block col-3">Host Name</th>
        <th class="d-inline-block col-4">Platform</th>
        <th class="d-inline-block col-2">Created</th>
        <th class="d-inline-block col-1">Size</th>
        <th class="d-inline-block col-2 text-right">Options</th>
      </tr>
    </thead>
    <tbody>
      {% for resource in repository.images.all %}
      <tr>
        <th class="d-inline-block col-3">
          <a href="{% url 'repository:image_detail' repository.name resource.name %}">{{ resource.metadata.hostname|default:resource.name }}</a>
          <span class="badge badge-{{ resource.color }}">{{ resource.status }}</span>
        </th>
        <td class="d-inline-block col-4">{{ resource.get_platform }}</td>
        <td class="d-inline-block col-2">{{ resource.get_created }}</td>
        <td class="d-inline-block col-1">{{ resource.cache.image_size|filesizeformat }}</td>
        <td class="d-inline-block col-2 text-right">
          {% if resource.status == 'active' %}
          <a href="{% url 'repository:image_download' repository.name resource.name %}" class="btn btn-sm btn-outline-primary">{% trans "Download" %}</a>
          {% endif %}
          <a href="{% url 'repository:image_delete' repository.name resource.name %}" class="open-modal btn btn-sm btn-outline-danger">{% trans "Delete" %}</a>
        </td>
      </tr>
      {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}
